[".config/nvim"]
  type = "git-repo"
  url = "git@github.com:koki-develop/koki-develop.nvim"
  refreshPeriod = "12h"

["work/repos/github.com/koki-develop/xbar-plugin-github"]
  type = "git-repo"
  url = "git@github.com:koki-develop/xbar-plugin-github"
  refreshPeriod = "48h"

["work/repos/github.com/koki-develop/obsidian-vault"]
  type = "git-repo"
  url = "git@github.com:koki-develop/obsidian-vault"
  refreshPeriod = "48h"

["Library/Fonts"]
  type = "archive"
  url = "https://github.com/yuru7/HackGen/releases/download/{{ (gitHubLatestRelease "yuru7/HackGen").TagName }}/HackGen_NF_{{ (gitHubLatestRelease "yuru7/HackGen").TagName }}.zip"
  stripComponents = 1
