["work/repos/github.com/koki-develop/xbar-plugin-github"]
  type = "git-repo"
  url = "git@github.com:koki-develop/xbar-plugin-github"
  refreshPeriod = "48h"

["work/repos/github.com/nushell/nu_scripts"]
  type = "git-repo"
  url = "git@github.com:nushell/nu_scripts"
  refreshPeriod = "48h"

["Library/Fonts"]
  type = "archive"
  url = "https://github.com/yuru7/HackGen/releases/download/v{{ .hackgen.version }}/HackGen_NF_v{{ .hackgen.version }}.zip"
  stripComponents = 1
