# !/bin/zsh -e

#
# Environment variables
#

export PATH="${HOME}/.local/bin:${PATH}"
export PATH="${HOME}/.config/v-analyzer/bin:${PATH}"
export GPG_TTY=$(tty)
export EDITOR='nvim'
export GHQ_ROOT="${HOME}/work/repos"
export XDG_CONFIG_HOME="$HOME/.config"

#
# Homebrew
#

{{ if contains "arm" (output "uname" "-p" | trim) -}}
eval "$(/opt/homebrew/bin/brew shellenv)"
{{- else -}}
eval "$(/usr/local/bin/brew shellenv)"
{{ end }}

#
# Styles
#

zstyle ':completion:*:default' menu select=2

#
# Set up zplug
#

# Load zplug
. "${HOME}/.zplug/init.zsh"

# Add plugins
zplug "zsh-users/zsh-syntax-highlighting"
zplug "zsh-users/zsh-autosuggestions"

# Install plugins if there are plugins that have not been installed
if ! zplug check --verbose; then
    printf "Install? [y/N]: "
    if read -q; then
        echo; zplug install
    fi
fi

# Load plugins
zplug load

#
# Completion
#

fpath=(${HOME}/.zsh/completion $fpath)
autoload bashcompinit && bashcompinit
autoload -Uz compinit && compinit

#
# Options
#

setopt auto_cd
setopt magic_equal_subst
setopt hist_ignore_dups
setopt no_beep
setopt no_hist_beep
setopt no_list_beep

#
# Set up tools
#

# Flutter
export PATH="${HOME}/work/repos/github.com/flutter/flutter/bin:${PATH}"

# mise
eval "$(mise activate zsh)"

# Rancher Desktop
export PATH="${HOME}/.rd/bin:${PATH}"

# direnv
eval "$(direnv hook zsh)"

# aws-cli
complete -C "$(which aws_completer)" aws

# starship
eval "$(starship init zsh)"

# ollamit
export OLLAMIT_MODEL=llama3:8b

# gcloud
source "$(brew --prefix)/share/google-cloud-sdk/path.zsh.inc"
source "$(brew --prefix)/share/google-cloud-sdk/completion.zsh.inc"

# mysql
export PATH="$(brew --prefix)/opt/mysql-client/bin:$PATH"

# libpq
export PATH="$(brew --prefix)/opt/libpq/bin:$PATH"

# java
export PATH="$(brew --prefix)/opt/openjdk/bin:$PATH"

# bun
source ~/.bun/_bun

#
# Aliases
#

# aws
alias av='aws-vault'
# docker
alias d='docker'
alias dc='docker compose'
# cat
alias cat='gat'
function gess() {
  gat --force-color "$@" | less -R
}
# cd
alias ..2='cd ../..'
alias ..3='cd ../../..'
alias ..4='cd ../../../..'
alias cdd='cd ~/.local/share/chezmoi'
function cdg() {
  REPO=$(gh q ls -f)
  if [ -n "${REPO}" ]; then
    cd "${GHQ_ROOT}/${REPO}"
  fi
}
alias cdw="cd ${HOME}/work"
# chezmoi
alias ch='chezmoi'
# echo
alias echo='ego'
# freeze
alias freeze='freeze --config ~/dotfiles/src/freeze/freeze.json'
# git
alias g='git'
alias gad='git add'
alias gbr='git branch'
alias gcom='git commit -m'
alias gdi='git diff'
alias gdem="git branch --merged | egrep -v '\*|develop|master|main' | xargs git branch --delete"
alias gfe='git fetch'
alias glo='git log --pretty=oneline'
alias gnow='git commit --all --message "commit"'
alias gre='git reset'
alias grest='git restore'
alias gst='git status'
alias gsw='git switch'
# grep
alias grep='rg --ignore-case'
# ls
alias ls='eza -1 --icons always'
alias l='ls'
alias la='ls -a'
alias ll='ls -l'
alias lla='ls -la'
alias tree='ls --tree --git-ignore'
# mkdir
alias mkdir='mkdir -p'
# mv
alias mv='mv -i'
# rm
alias rm='gotrash put'
# sed
alias sed='gsed'
# terraform
alias tf='terraform'
# vim
alias vi='nvim'

if [[ $- == *i* ]]; then
  exec nu
fi
