#!/bin/zsh

# {{ output "date" "+%V" | trim }}

#
# mise
#

if command -v mise >/dev/null 2>&1; then
  mise prune --tools -y || true
fi

#
# uv
#

if command -v uv >/dev/null 2>&1; then
  uv cache prune --force || true
fi

#
# pnpm
#

if command -v pnpm >/dev/null 2>&1; then
  pnpm store prune || true
fi

#
# npm
#

if command -v npm >/dev/null 2>&1; then
  npm cache verify || true
fi

#
# bun
#

if command -v bun >/dev/null 2>&1; then
  bun pm cache rm || true
fi

#
# go
#

if command -v go >/dev/null 2>&1; then
  go clean -cache || true
fi

#
# brew
#

if command -v brew >/dev/null 2>&1; then
  brew cleanup --prune=all || true
fi
