#!/bin/zsh

#
# git-secrets
# https://github.com/awslabs/git-secrets#advanced-configuration
#

echo "Setting up git-secrets..."
git secrets --register-aws --global
git secrets --install --force $HOME/.git-templates/git-secrets
echo "Done."

#
# GitHub GPG
#

echo "Setting up GitHub GPG..."

keeper download-attachment {{ .keeper.github_gpg_secret_key_uid }} --out-dir /tmp
echo "{{ index (index (keeper .keeper.github_gpg_secret_key_uid).custom 0).value 0 }}" \
  | gpg \
      --batch \
      --yes \
      --passphrase-fd 0 \
      --import /tmp/github-gpg-secret-key
rm /tmp/github-gpg-secret-key
echo "pinentry-program $(which pinentry-mac)" > $HOME/.gnupg/gpg-agent.conf
gpgconf --kill gpg-agent

echo "Done."

#
# AWS CLI
#

if [ ! -f $HOME/.aws/config ]; then
  mkdir $HOME/.aws
  keeper get {{ .keeper.aws_config_uid }} --format=json \
    | jq -r '.fields[] | select(.type == "note").value | first' \
    > $HOME/.aws/config
fi
