cmd "jj" help="Convert JSON to JSON"
cmd "jj" help="Convert JSON to JSON"
cmd "jt" help="Convert JSON to TOML"
cmd "jx" help="Convert JSON to XML"
cmd "jy" help="Convert JSON to YAML"
cmd "tj" help="Convert TOML to JSON"
cmd "tt" help="Convert TOML to TOML"
cmd "tx" help="Convert TOML to XML"
cmd "ty" help="Convert TOML to YAML"
cmd "xj" help="Convert XML to JSON"
cmd "xt" help="Convert XML to TOML"
cmd "xx" help="Convert XML to XML"
cmd "xy" help="Convert XML to YAML"
cmd "yj" help="Convert YAML to JSON"
cmd "yt" help="Convert YAML to TOML"
cmd "yx" help="Convert YAML to XML"
cmd "yy" help="Convert YAML to YAML"
